{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<title>Login</title>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block body %}
{{ super() }}
{% for message in get_flashed_messages()  %}
{{ message}}
{% endfor %}

	<div class="bg_text" style="padding-top:20px;">
		<div class="login_bg">
			<img src="{{ url_for('static', filename='images/sun.png') }}" width="610px" height="610px"/>	


		</div>
		<img id="smile" src="{{ url_for('static', filename='images/smiling.png') }}" width="420px" height="420px"/>
		<div class="login">
			<div id="signup">
			<h2>Welcome Back</h2>
			<form action="{{ url_for('.login') }}" method="post">
        			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        				{{ form.email(placeholder="Email") }} {{ form.password(placeholder="Password") }}
  	       				<button type="submit" style="margin-top:20px;"name="submit">Sign On</button>
				<a href="#register" id="register_link">Register</a>

			</form>

		</div>
		<div class="register" id="register">
			   <form  action="{{ url_for('.login') }}" method="post"/>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                              <div>
                                {{ form.first.label }} {{ form.first(placeholder="John") }} 
				{{ form.last.label }} {{ form.last(placeholder="Doe") }}
                                {{ form.email.label }} {{ form.email(placeholder="example@gmail.com") }}
				{{ form.zipcode.label }} {{ form.zipcode(placeholder="12345") }}
				{{ form.dob.label }} {{ form.dob(placeholder="06/30/1990") }}
				{{ form.phone.label }} {{ form.phone(placeholder="555-555-5555") }}
                                {{ form.password.label }} {{ form.password(placeholder="Password") }}
                                {{ form.password2(placeholder="Re-enter Password") }}
                                <button type="submit" style="margin-top:20px;"name="register_submit">Sign Up</button>
				<a href="#" id="signup_link">Login</a>
                              </div>
                        </form>
		</div>	
		</div>
	</div>

<div class="bg_text">
		<div style="postion:fixed; margin-left:75px; margin-top:-20px;">
			<h1 id="form_description">User Login</h1>
		</div>
</div>
{% endblock %}


